In [3]:
number = int(input("Please Enter any Number: "))
i = number

print("List of Natural Numbers from {0} to 1 in Reverse Order : ".format(number)) 

while ( i >= 1):
    print (i, end = '  ')
    i = i - 1

Please Enter any Number:  100

List of Natural Numbers from 100 to 1 in Reverse Order :
100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1

In [1]:
for i in range(1,7,2):
    print(i)

1
3
5

In [2]:
for i in range (5,0,-1):
    print(i)

5
4
3
2
1

In [3]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [5]:
#for divit in range(2000,3200):
#   if  divit%7==0 and divit%5!=0:
#      print(divit)

In [6]:
add_sq=0
sq_add=0

for i in range(1,101):
    add_sq+=i
    sq_add+=i**2
    
result=sq_add - (add_sq**2)
print(result)

-25164150

In [7]:
i=print

In [8]:
i("hello world")

hello world

In [1]:
li=[]
for i in range(7):
    li.append(i)
    
print(li)

[0, 1, 2, 3, 4, 5, 6]

In [12]:
li=[]
for i in range (1,21):
    if i%2==0:
        li.append(i)
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
li=[]
for i in range (2,21,2):
    li.append(i)
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]